.table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 10px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 15px;
}

.table td {
  font-size: 14px;
}

.table tr:hover {
  background-color: rgb(230, 230, 230);
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  margin-top: 10px;
  width: 100%;
}

.btnGroup button {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.btnGroup button:hover:enabled {
  background-color: rgb(209, 209, 209);
}

.btnGroup span {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: center;
}
